<div class="container" style="padding:20px;">
        <div id="about" class="section scrollspy">
          <h3 style="text-align:center;">{{page.secondtitle}}</h3>
            <div class="row">
              <div class="col s12">
                <div class="card">
                  <div class="card-image">
                  <span class="card-title"><a style="color:white" href=""></a></span>
                  </div>
                  <div class="card-content">
                    {{page.secondtext}}            
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>