<!--<div class="row" style="text-align:center">
    <a class="waves-effect waves-light btn blue-grey" target="_self" href="/"><i class="fa fa-home right"></i>Home</a>
    <span style="margin-left: 20px; "/>    
    <a class="waves-effect waves-light btn blue-grey" target="_self" href="/mywork"><i class="far fa-images right"></i>My Work</a>
    <span style="margin-left: 20px; "/>    
    <a class="waves-effect waves-light btn blue-grey" target="_self" href="/contact"><i class="fa fa-envelope right"></i>Contact Me</a>      
    <!--<a class="waves-effect waves-light btn blue-grey darken-2" target="_self" href=""><i class="material-icons right">games</i>Something else</a>-
</div>
<div class="row" style="text-align:center">
    <a class="waves-effect waves-light btn blue-grey" target="_self" href="/"><i class="fa fa-home right"></i>Home</a>
    <span style="margin-left: 40px; "/>    
    <a class="waves-effect waves-light btn blue-grey" target="_self" href="/mywork"><i class="far fa-images right"></i>My Work</a>
    <span style="margin-left: 40px; "/>    
    <a class="waves-effect waves-light btn blue-grey" target="_self" href="/contact"><i class="fa fa-envelope right"></i>Contact Me</a>      
    <!--<a class="waves-effect waves-light btn blue-grey darken-2" target="_self" href=""><i class="material-icons right">games</i>Something else</a>
</div>-->
<div class="row" style="text-align:center">
        <a class="waves-effect waves-light btn blue-grey" target="_self" href="/"><i class="fa fa-home right"></i>Home</a>
        <span style="margin-left: 60px; "/>    
        <a class="waves-effect waves-light btn blue-grey" target="_self" href="/portfolio"><i class="far fa-images right"></i>Portfolio</a>
        <span style="margin-left: 60px; "/>    
        <a class="waves-effect waves-light btn blue-grey" target="_self" href="/contact"><i class="fa fa-envelope right"></i>Contact Me</a>      
        <!--<a class="waves-effect waves-light btn blue-grey darken-2" target="_self" href=""><i class="material-icons right">games</i>Something else</a>-->
</div>
