---
layout: default
---
<head>
    <!-- other head stuff... -->
    <link rel="stylesheet" href="/assets/css/flickity.css" media="screen">
    <link rel="stylesheet" href="/assets/css/fullscreen.css">
    <link rel="stylesheet" href="/assets/css/parallax.css">    
    <link rel="stylesheet" href="/assets/css/photoswipe.css"> 
    <link rel="stylesheet" href="/assets/css/default-skin/default-skin.css"> 
    <link rel="stylesheet" href="/assets/css/style.css"> 
    <script type="text/javascript" async="" src="http://www.google-analytics.com/ga.js"></script><script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>   
  </head>
  <body>
    <!-- all your great html... -->
    <script src="/assets/css/flickity.pkgd.js"></script>
    <script src="/assets/css/fullscreen.js"></script>
    <script src="/assets/css/parallax.js"></script>    
    <script src="/assets/js/photoswipe.min.js"></script> 
    <script src="/assets/js/photoswipe-ui-default.min.js"></script> 
  </body>
  <div class="container">
    <div class="col s10">
    <div class="row" style="padding:10px;">
      <a id="home" class="waves-effect waves-light btn white-text darken-2 grey z-depth-4" href="{{site.baseurl}}/#Galleries"><i class="material-icons">arrow_back</i></a>
    </div>
    <h3 class="post-title" itemprop="name headline" style="text-align:center">{{ page.title | escape }}</h3>

    
  <div class="post-content" itemprop="articleBody">
    {{ content }}
    {% include gallery.md %}
  </div>
</div>
</div>
